/* can't use * as selector on codepen */

:root {
}

* {
  /* these didn't work in root for some reason */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
}


#title {
  margin: 0 100px;
}

.tooltip {
  background-color: lightgray;
  width: 100px;
  height: 40px;
  z-index: 10000;

  border-radius: 10px;
  /* center text */
  display: flex;
  align-items: center;
  justify-content: center;

  /* hide tooltip */
  visibility: hidden;

  /* item does not affect other items, and is  */
  /* effected by positional values */
  position: absolute;

  /* hovering over the tooltip does nothing:  */
  pointer-events: none;
}
.tooltip-hover {
  /* reveal tooltip */
  visibility: visible;
}

.bar:hover {
  fill: white;
}
