/* can't use * as selector on codepen */

:root {
  --header-background: #07f79f;
  --background-color: #00261a;
  --box-color: #deffe0;
  --button-color: #7dff85;
  --border-color: white;
  --accent-color: #07f79f;

  --header-height: max(5vh, 35px);

  --main-border: 2px solid var(--border-color); 

  background-color: var(--background-color);

  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* these didn't work in root for some reason */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* all content */
#page-wrap {
  display: flex;
  flex-direction: row;

  max-width: 1400px;
  width: 98vw;

  height: 98vh;
  margin-top: 1vh;
}

/* both editor and preview boxes with header */
.box-wrap {
  width: 50%;
  background-color: var(--box-color);
  height: 100%;

  border: var(--main-border)
}

/* both headers  */
.header {
  width: 100%;
  height: var(--header-height);

  background-color: var(--header-background);

  display: flex;
  flex-direction: row;
  align-items: center;

  border-bottom: var(--main-border);
}

.header-text {
  margin: 10px;
  flex-grow: 1;

  font-weight: 500;
}

.header-button {
  margin: 0 10px;
  height: 100%;
  width: max(13vw, 160px);
  /* for zoom-out */
  max-width: 40%;

  align-self: flex-end;

  background-color: var(--button-color);
  --bborder: 2px solid var(--border-color);
  border: 0;
  border-left: var(--bborder);
  border-right: var(--bborder);

  font-size: 16px;
  line-height: 14px;
}

.header-button:hover {
  background-color: var(--accent-color);
  cursor: pointer;
}

.header-button:active {
  background-color: var(--button-color);
}


/* both text boxes */
.text-box {
  height: calc(100% - var(--header-height));
  min-height: 300px;

  padding-left: 2px;
}

#editor {
  height: calc(100% - 12px);
  min-width: calc(100% - 10px);
  max-width: calc(100% - 10px);
}

#preview {
  overflow-y: scroll;
  padding: 0 10px;
}

#preview * {
  max-width: 100%;
}

@media (max-height: 450px) {
  #page-wrap {
    margin: 1px;
  }
}

@media (max-width: 800px) {
  #page-wrap {
    flex-direction: column;

    height: 100%;
    width: 100%;
    align-items: center;
  }

  .box-wrap {
    width: 90%;
  }

  #editor {
    min-width: calc(100% - 10px);
    min-height: 300px;
  }

  #preview {
    overflow-y: visible;
    min-height: 300px;
  }
}
