/* can't use * as selector on codepen */

:root {
  --background-color: #daff91;
  --app-background-color: #014737;

  --button-active-color: #ffebba;
  --button-inactive-color: #fce879;

  --inner-border-color: #eeff00;
  --border-active-color: #ffffff;

  --font-color: #453f0e;
  --font-active-color: #ffffff;

  --inner-border: 3px solid var(--inner-border-color);
  --inner-border-active: 3px solid var(--border-active-color);
}

body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;

  background-color: var(--background-color);
}

/* resets button css */
Button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/* Remove excess padding and border in Firefox 4+ */
&::-moz-focus-inner {
    border: 0;
    padding: 0;
}


#drum-machine {
  min-width: 350px;
  width: 350px;
  max-width: 1000px;

  margin: auto;
  margin-top: min(2vh, max(20px, 2vh));

  padding: 10px;

  display: flex;
  flex-flow: row wrap;

  background-color: var(--app-background-color);
  border-radius: 10px;

  color: var(--font-color);
}

/* all the drum pads */
#pads-wrap {
  width: 350px;
  height: 350px;

  display: flex;
  flex-flow: row wrap;

  justify-content: center;
  align-items: center;
}

.single-pad-wrapper {
  margin: 1%;
  height: 100px;
  width: 100px;

  background-color: var(--button-inactive-color);
  border: var(--inner-border);
  border-radius: 4px;

  cursor: pointer;
}

/* when button pressed */
.single-pad-wrapper:active, .active {
  background-color: var(--button-active-color);

  box-shadow: inset 0px 0px 0px 4px var(--border-active-color);
  border: var(--inner-border-active);

  color: var(--font-active-color);
}

/* button element */
.drum-pad {
  width: 100%;
  height: 100%;

  font-weight: bold;
  font-size: 30px;
  font-family: Verdana, sans-serif;

  cursor: pointer;
}

/* the pad current sample text low on the pad*/
.under-pad {
  position: relative;
  bottom: 20px;
  left: 5px;
}

#display {
  width: 100%; 
  height: 100px;
  border: var(--inner-border);

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 5px 10px 5px 10px;

  background-color: var(--button-inactive-color);
  border-radius: 10px;

  font-size: 25px;
  font-family: Verdana, sans-serif;
}

